# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.xxxxx.mongodb.net/traffic-vision?retryWrites=true&w=majority

# Python ML Backend URL
ML_BACKEND_URL=http://localhost:5000

# Server Port
PORT=4000
